Repository db-ui/examples, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, angular, react, react-tailwind, vue

.github/labeler.yml:

---
cicd:
  - .github/*
  - .github/**/*

angular:
  - angular-example/**

react:
  - react-example/**

react-tailwind:
  - react-tailwind
  - -example/**

vue:
  - vue-example/**

fix: issue with working directory
  .github/workflows/default.yml
Labels: cicd

fix: issue with naming
  .github/workflows/default.yml
Labels: cicd

fix: issue with examples env
  .github/workflows/default.yml
Labels: cicd

fix: issue with example build path
  .github/workflows/default.yml
Labels: cicd

chore: update screenshots
  e2e/__snapshots__/angular-example.spec.ts-snapshots/Angular-Example-should-match-screenshot-1-firefox-linux.png
  e2e/__snapshots__/react-example.spec.ts-snapshots/React-Example-should-match-screenshot-1-firefox-linux.png
  e2e/__snapshots__/react-tailwind-example.spec.ts-snapshots/React-Tailwind-Example-should-match-screenshot-1-chromium-linux.png
  e2e/__snapshots__/react-tailwind-example.spec.ts-snapshots/React-Tailwind-Example-should-match-screenshot-1-firefox-linux.png
  e2e/__snapshots__/react-tailwind-example.spec.ts-snapshots/React-Tailwind-Example-should-match-screenshot-1-mobile-chrome-linux.png
  e2e/__snapshots__/react-tailwind-example.spec.ts-snapshots/React-Tailwind-Example-should-match-screenshot-1-mobile-safari-linux.png
  e2e/__snapshots__/react-tailwind-example.spec.ts-snapshots/React-Tailwind-Example-should-match-screenshot-1-webkit-linux.png
Labels: none

feat: add additional github actions
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-codeql-analysis.yml
  .github/workflows/99-dependency-review.yml
  .github/workflows/99-labeler.yml
  .github/workflows/pull-request.yml
Labels: cicd

chore: allow all PRs merged from dependabot
  .github/workflows/99-auto-merge.yml
Labels: cicd

chore: update angular, react & vue example
  angular-example/README.md
  angular-example/angular.json
  angular-example/package-lock.json
  angular-example/package.json
  angular-example/src/app/app.component.html
  angular-example/src/index.html
  angular-example/src/styles.scss
  react-example/README.md
  react-example/package-lock.json
  react-example/package.json
  react-example/src/App.tsx
  react-example/src/index.scss
  vue-example/README.md
  vue-example/package-lock.json
  vue-example/package.json
  vue-example/src/App.vue
  vue-example/src/style.scss
Labels: angular, react, vue

chore: update package-lock.json
  angular-example/package-lock.json
  react-example/package-lock.json
  react-tailwind-example/package-lock.json
  vue-example/package-lock.json
Labels: angular, react, vue

feat: added `.nvmrc` file
  .nvmrc
Labels: none
